/* Checkout Page */
.checkout-topbar {
    width: 100%;
    height: 100px;
    background-color: #eaebeb;
}

.checkout-title {
    width: 20%;
    text-align: center;
    height: 100px;
    margin: auto auto;
    line-height: 100px;
    font-size: x-large;
    font-weight: bold;
}

.checkout-leftbox {
    width: 60%;
}

.checkout-bckbtn {
    position: absolute;
    top: 40px; left: 40px;
}

.checkout-rightbox {
    width: 40%;
}

.address-box, .payment-box, .items-box {
    padding: 20px 20px 20px 20px;
    margin: 50px auto;
    width: 70%;
    outline: 1px solid #59b828;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 10vh;
}

.items-box {
    flex-direction: row;
}

.payment-box-discount-code {
    width: 40%;
    padding: 10px 10px;
    margin: 8px 0;
}

.confirm-box {
    padding: 8px 20px 8px 20px;
    margin: 50px auto 50px;
    width: 70%;
    height: 38px;
    outline: 1px solid #59b828;
    border-radius: 10px;
    display: flex;
    flex-direction: column row;
}

.confirm-box-button {
    border-radius: 6px;
    padding: 10px 16px;
    align-self: flex-start;
}

.confirm-box-price {
    margin: 8px 15px;

}


.price-box {
    padding: 20px 20px 20px 20px;
    margin: 50px auto;
    width: 30%;
    height: 30vh;
    outline: 1px solid #59b828;
    border-radius: 10px;
}

.price-box-lefttext {
    text-align: left;
}

.price-box-righttext {
    float: right;
}

/* My Account Page */
.myacc-action-btn {
    border-radius: 6px;
    padding: 8px 12px;
    margin: 5px;
    align-self: flex-start;
    background-color: #59b828;
    border: none;
    color: white;
}

.myacc-action-btn:hover {
    background-color: #479320;
}

.myacc-navbar {
    margin: 15px auto;
    padding: 10px;
    width: 40%;
    border-bottom: 1px #d4d4d4 solid;
}

.myacc-navbar-btn {
    padding: 5px 15px;
}

.myacc-navbar-btn:hover {
    border-bottom: 1px solid #59b828;
}

.myacc-details-box {
    margin: 5px auto 100px;
    padding: 20px;
    width: 40%;
}

.myacc-details-input {
    margin: 10px auto;
    width: 60%;
    display: flex;
    flex-direction: row;
}

.myacc-details-input-label {
    margin: auto auto;
    text-align: center;
    width: 20%;
    background-color: "green"
}

.myacc-details-input-box {
    padding: 5px 5px;
    margin: 8px auto;
    width: 90%;
    border: 1px solid #ddd;
    font-size: 16px;
}
